*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header{
    background-color: crimson;
    
}

header ul{
    color: chartreuse;
}

main{
    background-color: aquamarine;
    
}

main ul{
    color: deeppink;
}

footer{
    background-color: purple;
    
}

footer ul{
    color: white;
}